# Virtual Invironment
venv/
env/
.venv/

# Python bytecode & cache
__pycache__/
*.py[cod]

# Environment variables & secrets
.env

# Media and Static files uploaded during testing
/media/
staticfiles/

# Database
db.sqlite3
*.sqlite3

# For IDE
.idea/